body {
    width:100%;
    font-family: "Kanit", sans-serif;
    color: white;
    background-color: rgb(41, 41, 41);
}


#titre{
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

header/*bandeau haut*/
{
    position: fixed;
    left: 2%;
    top: 2%;
    width:96%;
    height: 150px;
    border-radius: 20px;
    background-color: rgb(247, 98, 26);
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);

}

h1, h2, h3 {
    margin:0; padding:0;
}

h1
{
    line-height:90px;
    font-family: "Kanit", sans-serif;
    font-size:48px;
    color:white;
    width:100%;
    margin:auto;
    text-align: center;
    text-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

#txt1{
  margin-top: 200px;
  font-size:22px;
  width:90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}
#txt{
  font-size:22px;
  width:90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

#image{
  display: block;
  width: 70%;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  border-radius: 10px;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);

}

#intro
{
  font-family: "Kanit", sans-serif;
  font-size:22px;
  color:white;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 400px
}

#welcome
{
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size:40px;
}

#logo
{
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

#mention{
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: "Kanit", sans-serif;
}

nav ul{
  list-style-type: none;
  width: 94%;
}

nav li{
  float:left;
  width: 25%;
  text-align: center;
}

nav ul ::after{
  content: "";
  display: table;
  clear:both;
}

nav{
  font-family: "Kanit", sans-serif;
  font-size:120%;
  width: 94%;
  margin: 0 auto;
  top: 0px;

}

nav a{
  display:block;
  text-decoration: none;
  color: white;
  border-bottom: 2px solid transparent
  padding: 10px 0px;
}

nav a:hover{
  border-bottom: 2px solid gold;
}
